@charset "utf-8";
body {
	background-repeat: no-repeat;
	background-position: center center fixed;
	background-image: url(../images/login%20page.jpg);
	background-attachment: fixed;
	background-size: cover;

}
#form {
	text-align: center;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	height: 200px;
	width: 300px;
	margin-top: 250px;
	margin-left: 60px;
}

input{
	margin-top: 20px;
}
#input1 {
	text-align: center;
	margin-right: 0px;
	width: 100px;
	height: 35px;
	float: left;
	padding-left: 0px;
	margin-left: 26px;
	border-radius: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #000000;
	font-weight: bolder;
}
#div1 {
}
#userpass {
	width: 250px;
	height: 30px;
	text-shadow: 0px 0px;
	border: 2px inset #000000;
	text-align: left;
}
#input2 {
	width: 100px;
	height: 35px;
	margin-left: 25px;
	border-radius: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	color: #000000;
	text-align: center;
	font-weight: bolder;
}

::placeholder {
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
font-style: normal;
color: grey;
}
