
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>

<link href="static/css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
<center>
<form id="form">

   <div>

  <input type="text" name="user" id="userpass" class="form-control" placeholder="Mobile Number"  required autofocus></div>
  <div><input type="password" name="pass" id= "userpass" placeholder="Password" required autofocus></div>
<div id="div1">
     <input type="submit" name= "inp1" id="input1" value="LOG IN" formaction="/homepage" formmethod="post">
   <input type="submit" name="inp2" id="input2" value= "SIGN UP" formaction="/signuppage" formnovalidate> </div>
</form>
</center>
</body>
</html>