<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/css/signup.css" >
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<title>Sign up</title>
  <div id="colorstrip"/>

</div>

<!-- <link href="signup.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
<center>
<h1>Sign Up</h1>
<form class ="box" id="form" action="/homepage1" method="post">

   <div class="textbox">
    <i class="fas fa-user" style="font-size: 1.5em; "></i>
  <input  type="text" name="name" id="userpass" class="form-control" placeholder="Name"  required autofocus></div>

  <div class="textbox">
    <i class="fas fa-envelope" style="font-size: 1.3em;"></i>
    <input type="text" name="email" id= "userpass" placeholder="E-mail" required autofocus></div>

  <div class="textbox">
    <i class="fas fa-mobile-alt" style="font-size: 1.7em;"></i>
    <input type="text" name="mobile" id= "userpass" placeholder="Mobile Number" required autofocus></div>

  <div class="textbox">
    <i class="fas fa-unlock-alt" style="font-size: 1.5em;"></i>
    <input type="password" name="pass" id= "userpass" placeholder="Password" required autofocus></div>

  <div class="textbox">
    <i class="fas fa-lock" style="font-size: 1.5em;"></i>
    <input type="password" name="confirmpass" id= "userpass" placeholder="Confirm Password" required autofocus></div>

<div id="div1">
     <input type="submit" class="btn" name= "inp1" id="input1" value="Submit">
     </div>

</form>
</center>
</body>
</html>